.colcol {
  margin-top: 4em;
  display: flex;
  background-color: #ADA296;
  width: 350px;
  height: 600px;
  flex-direction: column;
  border-radius: 1.5em;
}
.col-title {
  background-color: rgb(255, 255, 255);
  padding: 1.5em;
  font-weight: bold;
  text-align: center;
}
.col-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.col-content::-webkit-scrollbar {
  width: 8px;
}

.col-content::-webkit-scrollbar-thumb {
  background-color: #3657ba;
  border-radius: 4px;  
}