
.task-card-unset{
    background-color: rgb(89, 89, 224);
    display: flex;
    padding: 1em;
    border-radius: 1.2em;
    margin: 1em;
    max-width: 20em;
    text-align: center;
    justify-content: center;
}
.card-content{
    font-family: system-ui;
    font-weight: bold;
    font-size: 1.2em;
}


